/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif; /* You can choose an appropriate font */
  background-color: #0f0f0f;
  color: #fff;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: #111;
  color: #fff;
  padding: 40px 0; /* Increase padding to adjust header height */
  text-align: center;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

.navLinks {
  display: flex;
  justify-content: space-evenly;
  
}


nav a {
 padding: 0 10px;
}

.section {
  padding: 20px 0;
}

.banner {
  width: 100%;
  height: 300px;
}

.search {
  width: 400px;
  height: 40px;
  font-size: 16px;
  padding: 10px;
  margin: 10px 0;
}

.movie-card {
  background-color: #1c1c1c;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.movie-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.movie-details {
  margin-top: 10px;
  color: #ccc;
}

.moviePostersContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.moviePoster {
  margin: 10px;
  width: 250px;
  text-align: center;
}

.moviePoster img {
  width: 100%;
  height: auto;
}

.moviePoster h3 {
  margin: 10px 0;
}

.moviePoster p {
  font-size: 14px;
}




@media (max-width: 768px) {
  .container {
    padding: 0 10px;
  }
}






