/* Header.css */

header {
    background-color: #333;
    padding: 10px;
  }
  
  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 50px;
    width: auto;
    margin-right: 10px;
  }
  
  h1 {
    color: white;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    margin: 0; /* Remove default margin for h1 */
  }
  
  .search-form {
    flex-grow: 1;
    margin: 0 20px; /* Adjust margin as needed */
    text-align: center;
  }
  
  form {
    display: flex;
    align-items: center;
  }
  
  input {
    width: 100%;
    padding: 5px;
  }
  
  button {
    margin-left: 10px;
  }
  
  nav {
    display: flex;
    align-items: center;
  }
  
  nav a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  